$color-0:#a1c0f6;
$color-a0:#88a9e2;
// $background-0:#;

$color-1:#99ddf6;
$color-a1:#87d0eb;
// $background-1:#;

$color-2:#bee77b;
$color-a2:#a6ce65;
// $background-2:#;

$color-3:#99ddf6;
$color-a3:#87d0eb;
// $background-3:#;

$color-4:#f6e398;
$color-a4:#dcca84;
// $background-4:#;

$color-5:#9fe7d7;
$color-a5:#8dd1c2;
// $background-5:#;

$color-6:#f6d7a1;
$color-a6:#ddc18f;
// $background-6:#;

$color-7:#ffc4ca;
$color-a7:#f1b1b7;
// $background-7:#;

$color-8:#b3bdf9;
$color-a8:#99a4e4;
// $background-8:#;

$color-9:#f9d7d3;
$color-a9:#e6c1bd;
// $background-9:#;

$color-10:#f6d7a1;
$color-a10:#ddc18f;
// $background-10:#;

